
  .main__container{
    height: 98vh;
    width: 100%;
    margin: auto;
    left: 0; right: 0; 
    top: 0; bottom: 0; 
    z-index: -1; 
    background: no-repeat;
    background-size: 100% 100%;
    background-image: url(./img/ed-sheeran-albums-background.jpg) ;
    filter: blur(10px); 
  }
 
  .main__box{
    width: 500px;
    height: 540px;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100px;
    left: 50%;
    top: 16%;
    transform: translate(-50%);
    border: 2px rgb(82, 75, 75) solid;
    border-radius: 21px;
  }
  .box__logo{
    width: 500px;
    height: 340px;
    background: no-repeat;
    /* background-size: 100% 100%; */
    background-image: url(./img/ed-sheeran-divide-album-cover.png);
    border-radius: 20px 20px 0px 0px;
  }
  .box__player{
    width: 500px;
    height: 200px;
    background: linear-gradient(45deg, #30cfd0, #330867);
    top: 350px; 
    border-radius: 0px 0px 20px 20px;
  }
  
  .btn__play{
    position: absolute;
    height: 65px;
    width: 65px;
    filter: invert(1);
    cursor: pointer;
    font-size: 53px;
    right: 78%;
    bottom: 19%;
    transition: .3s;
  }
  .btn__play:hover,
  .btn__next:hover,
  .btn__prev:hover {
    opacity: .55;
  }
  .btn__prev,
  .btn__next{
    position: absolute;
    height: 40px;
    width: 40px;
    filter: invert(1);
    cursor: pointer;
    bottom: 13.5%;
    font-size: 40px;
    transition: .3s;
  }
  .btn__prev{
    left: 82.7%;
    top:76%;
  }
  .btn__next{
    left:83.1%;
    top: 68.5%;
  }
.progress__container{
  position: absolute;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: rgb(44, 41, 41);
    border-radius: 5px;
    bottom: 10.5%;
    width: 300px;
    height: 5px;
    left: 20%;
} 
.progress__bar{
      position: absolute;
      height: 5px;
      background: #f8f5f5;
      bottom: 10.5%;
      border-radius: 30px;
      left: 0%;
 }
.song-artist{
  position: absolute;
  color: rgb(193, 255, 6);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
  bottom: 25.5%;
  left: 27%;
}
.song-title{
  position: absolute;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 17px;
  bottom: 20%;
  left: 27%;
}
@media screen and (max-width: 1000px ) {
  .main__container{
    max-height: 375px;
    max-width: 667px;
    margin: auto;
    left: 0; right: 0; 
    top: 0; bottom: 0; 
    z-index: -1; 
    background: no-repeat;
    background-size: 100% 100%;
    background-image: url(./img/ed-sheeran-albums-background.jpg) ;
    /* filter: blur(10px);  */
  }

  .main__box{
    max-width: 370px;
    max-height: 660px;
    /* position: absolute; */
    display: flex;
    margin: 5px;
    flex-direction: column;
    /* left: 50%; */
    top: 0%;
   
  }
  .box__logo{
    width: 370px;
    height: 440px;
    /* background: no-repeat; */
    
  }
  .box__player{
    width: 370px;
    height: 220px;
    background: linear-gradient(45deg, #30cfd0, #330867);
    bottom: 65%;
   
  }
  .progress__container{
    position: absolute;
      display: flex;
      align-items: center;
      cursor: pointer;
      background: rgb(44, 41, 41);
      border-radius: 5px;
      bottom: 10.5%;
      width: 300px;
      height: 5px;
      left: 10%;
  } 
  .progress__bar{
        position: absolute;
        height: 5px;
        background: #f8f5f5;
        bottom: 10.5%;
        border-radius: 30px;
        left: 0%;
   }
}